@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.menu-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-align: right;
    padding: 8px;
}

.bar {
    width: 25px;
    height: 2px;
    background-color: black;
    margin: 6px 0;
    text-align: right;
}

nav {
    background-color: salmon;
    padding: 1px;
}

.unorderedlist {
    text-decoration: none;
    color: black;
    border-radius: 5px;
    margin: 10px;
    font-weight: bold;
}

.linear-gradient-background {

    background-image: linear-gradient(to right, wheat, orchid);
    padding: 25px;

}

.linear-gradient-background2 {

    background-image: linear-gradient(to right, wheat, orchid);
    margin-top: 8px;
    padding: 25px;
}

.container_row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.container_col {
    flex: 1;
}

.heading {
    font-size: 30px;
    font-family: "Roboto";
}

.discription {
    font-size: 15px;
    font-family: "Roboto";
}

.image {
    height: 50vh;
    width: 35vh;

}

.container_row2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.button {
    color: white;
    border-radius: 6px;
    background-color: salmon;
    font-size: 18px;
    width: 150px;
    height: 40px;
    text-align: center;
}

.image1 {
    height: 30vh;
    width: 30vh;
    margin-top: 10px;
}

.image3 {
    height: 30vh;
    width: 30vh;
}

.image2 {
    height: 30vh;
    width: 30vh;
}

.container2 {
    background-color: salmon;
    padding: 15px;
    margin-top: 20px;
}

.heading {
    font-size: 35px;
    font-family: "Roboto";
}

.discription {
    font-size: 15px;
    font-family: "Roboto";
}

.arrow-icon {
    font-size: 25px;
    color: black;
    cursor: pointer;
}